.gallery_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories {
    display: flex;
    flex-direction: row;
    margin: 5rem;
    margin-top: 7rem;
    margin-bottom: 7rem;
    width: 70vw;
    height: 35vh;   
}

.category {
    height: 100%;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.svg_container {
    border: 3px solid brown;
    padding: 30px;
    height: 20vh;
    width: auto ;
    border-radius: 50%;
}

.icon {
    padding: 10px;
    height: 15vh;
    width: auto ;
}