.class_posting {
    background-color: rgb(137, 137, 137);
    padding: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 25px;
    color: white;
    
    transition: 1s;
}

.class_posting:hover {
    background-color: rgb(110, 110, 110);
    box-shadow: 0 5px rgb(5, 5, 5);
    transform: translate(0, -5px);
    color: white;
    transition: 1s;
}

.title {

}

.date {

}

.thumbnail {

}

.description {
    
}