.Home {
    padding-bottom: 5rem;   
    padding-bottom: 0;
    overflow-x: hidden;
}

#logo {
    height: 10em;
}

.top {
    display: flex;
    padding: 5rem;
    align-items: flex-end;
}

.top > p {
    margin-bottom: 0%;
}

.backpic {
    height:35rem;
    width: 50%;
    object-fit: cover;
    opacity: 50%;
    transition: 1s;
    padding:0;
    margin:0;
}

.backpic:hover {
    width: 57%;
    transition: 1s;
    opacity: 80%;
    cursor: pointer;
}

.hero {
    display : flex;
    justify-content: center;
    align-items: center;
}

.hero>h1 {
    position: absolute;
    font-size: 5vh;
}

.cakes_text {
    top: 35rem;
    pointer-events: none;
    left: 15%;
    font-family: 'Snell Roundhand Script'
}

.kitchen_text {
    top: 35rem;
    right: 15%;
    pointer-events: none;
    font-family: 'Snell Roundhand Script'
}

.rent {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 250);
    align-items: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    gap: 1rem;
    padding-right: 7vw;
    padding-left: 7vw;
}

.rent_section {
    width: 25rem;
}

.rent_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rent_left > h1{
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-top: 0;
    text-align: center  
}

.button {
    font-size: 200%;
    background-color: gray;
    color: white;
    border: 0px;
    padding: 1rem;
    border-radius: 40px;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(56, 56, 56);
    cursor: pointer;
    transition: 0.5s;
}

.rent_mid {
    font-size: 1.5rem;
    line-height: 3rem;
    width: 25vw;
}

.rent_right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.rent_pic {
    position: absolute;
    height: 50vh;
    width: 20vw;
    border: 1px black solid;
    object-fit: cover;
    transition: 1s ease;
}

.rent_pic:hover {
    height: 60vh;
    width: 30vw;
    transition: 1s ease;
    box-shadow: gray 5px 5px 3px 0px;
}

.book {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(44, 44, 44);
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-right: 7vw;
    padding-left: 7vw;
}

.book_pics {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.book_images {
    height: 15rem;
    width: 25rem;
    border: 1px solid rgb(255, 255, 250);
    background-color: gray;
    object-fit: cover;
    transition: 1s ease;
}

.book_images:hover {
    height: 17rem;
    width: 27rem;
    transition: 1s ease;
    box-shadow: rgba(0, 0, 0, 0.8) 5px 5px 3px 0px;
}

.book_text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_text >h1{
    display: flex;
    font-weight: 400;
    font-size: 4rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.book_text > h1{
    font-size: 350%;
}

.book_text > p{
    font-size: 250%;
}



