.Home {
    padding-bottom: 5rem;   
    padding-bottom: 0;
}

#logo {
    height: 10em;
}

.top {
    display: flex;
    padding: 5rem;
    background-color: aqua;
    align-items: flex-end;
}

.top > p {
    margin-bottom: 0%;
}

.backpic {
    height:35rem;
    width: 50%;
    object-fit: cover;
    opacity: 50%;
    transition: 1s;
    padding:0;
    margin:0;
}

.backpic:hover {
    width: 57%;
    transition: 1s;
    cursor: pointer;
}

.hero {
    display : flex;
    justify-content: center;
    align-items: center;
}

.hero>h1 {
    position: absolute;
    font-size: 5vh;
}

.cakes_text {
    top: 35rem;
    pointer-events: none;
    left: 15%;
    font-family: 'Snell Roundhand Script'
}

.kitchen_text {
    top: 35rem;
    right: 15%;
    pointer-events: none;
}

.rent {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3rem;
    gap: 1rem;
}

.rent_section {
    width: 25rem;
}

.rent_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rent_left > h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    margin-top: 0;
    text-align: center
}

.button {
    font-size: 200%;
    background-color: gray;
    color: white;
    border: 0px;
    padding: 1rem;
    border-radius: 40px;
    transition: 0.5s;
}

.button:hover {
    background-color: rgb(56, 56, 56);
    cursor: pointer;
    transition: 0.5s;
}

.rent_mid {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2rem;
    line-height: 3rem;
    width: 30rem;
}

.rent_right {
    display: flex;
    justify-content: center;
    align-items: center;

}

.rent_pic {
    height: 30rem;
    width: 25rem;
    border: 1px black solid;
    object-fit: cover;
}

.book {
    margin-top: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.book_pics {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
}

.book_images {
    height: 15rem;
    width: 25rem;
    border: 1px solid black;
    background-color: gray;
    object-fit: cover;
    transition: 1s;
}

.book_images:hover {
    height: 17rem;
    width: 27rem;
    transition: 1s;
}

.book_text { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_text >h1, p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.book_text > h1{
    font-size: 350%;
}

.book_text > p{
    font-size: 250%;
}


.contact {
    color: white;
    background-color: black;
    padding: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.contact > h1 {
    font-size: 400%;
    font-size: 400%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 200;
}
