.pastclass {
    background-size: cover;
    height: 20rem;
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all 1s ease;
}

.caption {
    background-image: linear-gradient(rgb(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
    height: 0;
    width: 100%;
    opacity: 0;
    color: white;
    transition: all 1s ease;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pastclass:hover {
    transform: translate(0%, -5%);
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
    transition: all 1s ease;
}

.pastclass:hover .caption {
    padding-bottom: 2rem;
    height: 40%;
    opacity: 1;
    font-size: 150%;
    transition: all 1s ease;
}