.navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 90;
}

.navbar-content {
    display : flex;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    padding: 2rem;
    background-color: white;
}

.space {
    height: 7rem;
}

.pages {
    display: flex;
    gap: 3rem;
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: center;
}

.clickable-title{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.clickable-title:hover {
    transition: 0.5s;
    text-decoration: underline;
}

.logo {
    height: 4rem;
}

.logo:hover {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    transition: 1s;
    height: 0;
    opacity: 0;
    z-index: 1;
    background-color: rgb(235, 235, 235);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.dropdown:hover .dropdown-content {
    display: flex;
    position: absolute;
    flex-direction: column;
    height: auto;
    gap: 1vh;
    opacity: 1;
    transition: all 1s ease;
}

.navbar-dropdown-buttons {
    padding: 0.5em 1em;
    font-size: 80%;
    text-decoration: none;
    color: black;
    border: 0;
}

.navbar-dropdown-buttons:hover {
    background-color: lightgray;
    cursor: pointer;
}
